{% macro displayblogs(blogs_list)%}
    {%for blog in blogss_list%}

        <div class="container items-align-center text-align-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg" style="background: url(https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687);">
                <h4>{{blog.blog_title}}</h4>
                <p>{{blog.blog_content| truncate(100)}}</p>
                <p>Written by:  {{blog.user.username}} <a href="/blog/{{blog.id}}" class="btn btn-primary pull-center">Sh</a> </p>
            </div>
        </div>
    </div>
    {%endfor%}
{%endmacro%}

{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-12">
            <h5>{{comment.user.username}}</h5>
            <p>{{comment.comment}}</p>
        </div>
    {%endfor%}
{%endmacro%}
